.profile-headline {
  position: absolute;
  width: 103px;
  height: 42px;
  left: 22%;
  top: 13%;
  /* 
font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.user-name-lable {
  position: absolute;
  width: 90px;
  height: 21px;
  left: 22%;
  top: 25%;
  /* 
font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: rgba(255, 255, 255, 0.8);
}

.user-name-input {
  position: absolute;
  width: 50%;
  height: 61px;
  left: 367px;
  top: 205px;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #282c34;
}

.user-name-button {
  position: absolute;
  width: 68px;
  height: 34px;
  left: 65%;
  top: 40%;
  background: #007bff;
  border-radius: 4px;
}

.user-button-text {
  position: absolute;
  width: 53px;
  height: 29px;
  /* left: 897px;
  top: 300px; */
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.user-name-input-text {
  position: absolute;
  /* width: 59px;
    height: 19px; */
    left: 22%;
    top: 30%;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
