.Tweet {
  position: relative;
  width: 55%;
  height: 14vh;
  left: 22%;
  top: -100px;
  margin-top: 10px;
  background: #343a40;
  border-radius: 6px;
}
.TweetText {
  position: absolute;
  /* width: 455px;
  height: 32px; */
  top: 30%;
  left: 3%;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}
.Tweet-user {
  position: absolute;
  width: 162px;
  height: 12px;
  left: 20px;
  top: 0;

  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #6c757d;
}
.Tweet-time {
  position: absolute;
  /* width: 169px;
  height: 16px;
  left: 420px; */
  top: 0;
  z-index: 1;
  right: 4%;

  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #6c757d;
}

@media only screen and (max-width: 480px) {
    .Tweet-user {
        top: 32px;
        left: 7%;
    }
    .TweetText{
        top: 55%;
        left: 7%;
    }
  }
