.Nav-bar {
  position: absolute;
  width: 80%;
  height: 58px;
  left: 10%;
  top: 0px;
  background: #343a40;
  border-radius: 6px;
  margin-bottom: 20px;
  z-index: 1;
}

.nav-link {
  /* position: absolute; */
  width: 38px;
  height: 16px;
  left: 217.87px;
  top: 19px;
  /* font-family: Roboto; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-left: 20px;
  display: inline-block;
  text-decoration: none;
}
